version: 2.1
orbs:
  python: circleci/python@2.0.3
  docker: circleci/docker@2.1.0
  heroku: circleci/heroku@1.2.6

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest
      - run:
          name: Run Flake8
          command: flake8

  build-docker:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run:
          name: Start container and push to Docker
          command: |
          docker build -t $DOCKER_HUB_USER/oc-lettings-p13:$CIRCLE_SHA1 .
          echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin
          docker push $DOCKER_HUB_USER/oc-lettings-p13:$CIRCLE_SHA1
  #      - docker/build:
  #          image: ${DOCKER_LOGIN}/oc-lettings-p13
  #      - docker/push:
  #          image: ${DOCKER_LOGIN}/oc-lettings-p13

  build-and-push-heroku:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git

workflows:
  P13-workflow:
    jobs:
      - build-and-test
      - build-docker
      - build-and-push-heroku