version: 2.1
orbs:
  python: circleci/python@2.0.3
  docker: circleci/docker@2.1.0
  heroku: circleci/heroku@1.2.6

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest
      - run:
          name: Run Flake8
          command: flake8

  build-and-push-heroku:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git

workflows:
  P13-workflow:
    jobs:
      - build-and-test
      - docker/publish:
          extra_build_args: '--build-arg SENTRY_DSN=$SENTRY_DSN --build-arg DEBUG=$DEBUG'
          image: ${DOCKER_LOGIN}/oc-lettings-p13
      - build-and-push-heroku:
          requires:
            - docker/publish # only run deploy-via-git job if the build job has completed
          filters:
            branches:
              only: main